<%# flash.each do |msg_type, msg| %>
<!--  <div class="alert alert-<%#= msg_type %>" role="alert" id="alert">-->
<!--    <a href="#" class="close" data-dismiss="alert">×</a>-->
    <%#= msg %>
<!--  </div>-->
<%# end %>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
<% end %>