<div class="container">
  <% if user_signed_in? %>
    <div class="my-4" >
      <%= link_to t("devise.shared.links.back"), 'javascript:history.back()', class: 'btn btn-outline-dark'%>
    </div>
  <% end %>
</div>