<div class="container">
  <% if user_signed_in? %>
    <div class="mt-2 mb-5" >
      <%= link_to t("devise.shared.links.back"), 'javascript:history.back()', class: 'btn btn-outline-dark'%>
    </div>
  <% end %>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">COPYRIGHT © Yatta ALL RIGHTS RESERVED.</p>
</footer>

<!--利用規約ありバージョン-->
<!--<footer class="my-5 pt-5 text-muted text-center text-small">-->
<!--  <p class="mb-1">COPYRIGHT © Yatta ALL RIGHTS RESERVED.</p>-->
  <!--  <ul class="list-inline">-->
  <!--    <li class="list-inline-item"><a href="#">プライバシー</a></li>-->
  <!--    <li class="list-inline-item"><a href="#">条項</a></li>-->
  <!--    <li class="list-inline-item"><a href="#">サポート</a></li>-->
  <!--  </ul>-->
<!--</footer>-->

<!--footer色ありバージョン-->
<!--<footer class="footer mt-auto py-3 bg-light">-->
<!--  <div class="container">-->
<!--    <span class="text-muted">ここには固定フッタのコンテンツを配置。</span>-->
<!--  </div>-->
<!--</footer>-->