<h1>教材一覧</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>教材名</th>
    <th>カテゴリー</th>
<!--    <th><%#= 学習日%></th>-->
<!--    <th><%#= 学習記録 %></th>-->
<!--    <th><%#= ステータス %></th>-->
<!--    <th><%#= タグ %></th>-->
  </tr>
  </thead>
  <tbody>
  <% @materials.each do |material| %>
    <tr>
      <td><%= link_to material.title, material_path(material) %></td>
      <td><%= material.category %></td>
      <td><%= link_to "編集", edit_material_path(material) %></td>
      <td><%= link_to "削除", material, method: :delete, data: { confirm: "本当に削除してもいいですか？" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>